<html>
  <script src="https://browserid.org/include.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"
          type="text/javascript"></script>

  <head>
    <title>
      IDLE DRONES :: Discoveries
    </title>
  </head>
  <body>
    <p>Discoveries you've made</p>
    <a href="/events">Events</a>
    <br/>
    <a href="/logout">Logout</a>
    <br/>

    <table>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>
      
      {% for disc in discoveries %}
      <tr>
        <td>{{ disc.type }}</td>
        <td>{{ disc.name }}</td>
      </tr>
      {% endfor %}
      
    </table>
  </body>

</html>
