<html>
  <script src="https://browserid.org/include.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"
          type="text/javascript"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style/reset.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/resources.css') }}" type="text/css" />

  <head>
    <title>
      IDLE DRONES :: Resources
    </title>
  </head>
  <body>
    <div id="container">
      <div id="nav">
        <a href="/discoveries">Discoveries</a>
        <a href="/events">Events</a>
        <a href="/logout">Logout</a>
      </div>
      
      <p>Resources</p>

      {% for typ in ['Light Ores', 'Heavy Ores', 'Rare Ores', 'Unique Ores', 'Light Gases', 'Heavy Gases', 'Rare Gases', 'Unique Gases', 'Consumables'] %}
        
      {% if resources[typ.lower()] != 0 %}
      <p>
        [<span class="resource_type">{{ typ }}</span>]
        <span class="resource_amount">{{ '%.0f' % resources[typ.lower()] }}</span>
      </p>

      {% endif %}

      {% endfor %}
      
    </div>
  </body>

</html>
